table.customTable {
  border-collapse: collapse;
  border: 1px solid #aaa;
}

table.customTable th,
table.customTable td {
  padding: 4px 6px;
  border: 1px solid #ccc;
  text-align: left;
}

table.customTable caption {
  font-weight: bold;
  color: #333;
  padding: 4px;
  text-align: left; 
}